.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0;
}

@media (max-width: 726px) {
    .profile {
        flex-direction: column;
    }
}