.add-button {
    background: none;
    box-shadow: none;
    background-image: url(../../image/Plus.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.add-button:hover {
    opacity: 0.6;
}

@media (max-width: 640px) {
    .add-button {
        width: 282px;
        height: 50px;
    }
}